{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

<div class="container">
<h1>Mon panier</h1>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
<hr>

{% if items | length > 0 %}

    <table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        
    <tr>
        <td>{{ item.product.nom }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price}}</td>
        <td>{{ item.product.price * item.quantity  }}</td>
        <td>
        <a href="{{path('cart_remove', {'id': item.product.id})}}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
        
        </td>
    </tr>
    
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" >Total : </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
    
    </table>


{% else %}
    


{% endif %}

  

<hr>
<p><b>Votre panier est vide</b></p>
<hr>
</div>
{% endblock %}
