<div class="card border-warning mb-3" style="max-width: 20rem;">
        <div class="card-header">{{immo.nom}}</div>
        <img src="{{asset('images/' ~ immo.image )}}" alt="" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <div class="card-body">
            <h4 class="card-title">{{ immo.nom }} :</h4>
            <p class="card-text">{{ immo.description}}</p>
            <h5 class="card-title">Prix : {{ immo.price }} €</h5>
            
        {% if admin %}
                <div class="no-gutters">
                <a href="{{path('modifAdmin', {'id': immo.id } )}}" class="col btn btn-danger">Modifier</a>
                <a href="" class="col btn btn-warning">Supprimer</a>
                </div>
        {% else %}
                <a href="{{path('cart_add', {'id' : immo.id} )}}" class=" btn btn-success float-right card-link ">
                <i class="fas fa-shopping-cart mr-1"></i>Ajouter</a>        
        {% endif %}
        </div>
</div>
