{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}

{% block body %}
<div class="jumbotron" >
  <h1 class="display-3 text-center  ">Demo immo</h1>
  <p class="lead text-center">Découvrez maintenant, le bien de votre rêve ! contactez nos agents pour plus d'informations.</p>
  <hr class="my-4"> 
</div>

  <div class="container">
    {% include "carte/_filter.html.twig" with { form:form} only %}
  </div>


<div class="row flex no-gutters">     
            {% for immo in immos %} 
             <div class=" col-12 col-lg-3 p-1">
            {% include "carte/_carte.html.twig" with { immo : immo , admin : admin } only %}  
            </div>  
            {% endfor %}
        
    </div>

    <div class="navigation">
    {{ knp_pagination_render(immos) }}
</div>

{% endblock %}